    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    img{
        max-width: 100%;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding: -1px -1px;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        color: #000000;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }

    .btn {
        font-family: "baloo bhai", Courier;
        text-align: left;
        display: inline;
        margin: 29px 17px;
        background-color: #504345f5;
        color: rgb(255, 255, 255);
        padding: 8px 16px;
        border: 2px solid #c7b4b400;
        border-radius: 160px;
        font-size: 17px;
        cursor: pointer;
        float: right;
      }
      
      .btn:hover {
        background-color: rgb(252, 80, 0);
      }
      
      .hero-btn {
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #ffffff;
        padding: 12px 34px;
        border-radius: 5px;
        font-size: 14px;
        background: transparent;
        position: relative;
        cursor: pointer;
      }
      
      .hero-btn:hover {
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
      }
      